{% assign buildPageFeatureArray = page.features | where_exp: 'features', 'features.positioning > 0' | sort: 'positioning' %}
{%comment%} 
The line above grabs data from the page that is building. 
It collects the data of features that have a positioning number greater than 0 in the 'features' front matter.
It then orders it numerically (incase the frontmatter positioning numbers are out of order).
All of this is building it into an array that we can access.
{%endcomment%}
{% assign featurePositiveNumberI = 0 %}{%comment%} It starts and resets the loop with var at 0 {%endcomment%}
{%- for buildPageFeatureData in buildPageFeatureArray -%}
{% assign featurePositiveNumberI = featurePositiveNumberI | plus: 1 %} {%comment%} KEEP THIS LINE -- It starts/maintains the loop for each feature {%endcomment%}
{%- if buildPageFeatureData.positioning == featurePositiveNumberI -%} {%comment%} Here we match the build cycle of each feature with its feature positioning, creating the ridgid structe to build in.{%endcomment%}
{%comment%} ****** Button Types ****** {%endcomment%}
    {%comment%} Added {%endcomment%}
        {%- if buildPageFeatureData.bannerButtons != nil -%}{% include features/buttonTypes/banner-buttons/banner-buttons.html %}{%- endif %}
        {%- if buildPageFeatureData.bannerImageButtons != nil -%}{% include features/buttonTypes/banner-image-buttons/banner-image-buttons.html %}{%- endif %}
        {%- if buildPageFeatureData.imageButtons != nil -%}<div class="max-width__tier-1 ">{% include features/buttonTypes/imageButtons/imageButtons.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.quickLinks != nil -%}<div class="max-width__tier-1 ">{% include features/buttonTypes/quickLinks/quickLinks.html %}</div>{%- endif %}
    {%comment%} Yet to be added {%endcomment%}
{%comment%} ****** Content Blocks ****** {%endcomment%}
    {%comment%} Added {%endcomment%}
        {%- if buildPageFeatureData.accordion != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/accordion/accordion.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.image-text != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/image-text/image-text.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.text-image != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/text-image/text-image.html %}</div>{%- endif %}
        {%comment%}  
            This needs some serious styles applied 
            {% if buildPageFeatureData.video-text != nil %}<div class="max-width__tier-1 ">{% include features/contentBlocks/video-text/video-text.html %}</div>{%- endif %}
                .video-text_flex-container{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .cas-embed-container iframe, .embed-container object, .embed-container embed{
                    width:100%;
                    height: clamp(100px,100vh,25vw);
                }
        {% endcomment %}
        {%comment%}  
            This needs some serious styles applied 
            {% if buildPageFeatureData.text-video != nil %}<div class="max-width__tier-1 ">{% include features/contentBlocks/text-video/text-video.html %}</div>{%- endif %}
                .video-text_flex-container{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .cas-embed-container iframe, .embed-container object, .embed-container embed{
                    width:100%;
                    height: clamp(100px,100vh,25vw);
                }
        {% endcomment %}
        {%comment%}
            This feature needs some work still
            Needs to be responsive (Images are getting warpped when there is a decent amount of text in the body)
            {% if buildPageFeatureData.one-3_card != nil %}<div class="max-width__tier-1 ">{% include features/contentBlocks/one-3_card/one-3_card.html %}</div>{%- endif %}
        {% endcomment %}
        {%comment%}
            Quote also needs some styling tweeks.
        {% endcomment %}
        {%- if buildPageFeatureData.quote != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/quote/quote.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.textblock != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/textblock/textblock.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.twoColumn-fixed != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/twoColumn/twoColumn-fixed/twoColumn-fixed.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.twoColumn-reactive != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/twoColumn/twoColumn-reactive/twoColumn-reactive.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.slider != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/slider/slider-feature.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.pageTabs != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/pageTabs/pageTabs.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.makeAGift != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/makeAGift/makeAGift-2.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.contactCards != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/peopleCards/contactCards/contactCards.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.faceList != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/peopleCards/faceList/faceList.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.bioCards != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/peopleCards/bioCards/bioCards.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.emeritus != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/peopleCards/emeritus/emeritus.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.callToActionCards != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/peopleCards/callToActionCards/callToActionCards.html %}</div>{%- endif %}
    {%comment%} Yet to be tested {%endcomment%}
        {%- if buildPageFeatureData.atoz-markdown != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/atoz/atoz-markdown.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.atoz-json != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/atoz/atoz-json.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.event-showcase != nil -%}<div class="max-width__tier-1 ">{% include features/contentBlocks/event-showcase/event-showcase.html %}</div>{%- endif %}
{%comment%} ****** Feeds and Pulls ****** {%endcomment%}
    {%comment%} Added {%endcomment%}
        {%- if buildPageFeatureData.facultyStaff != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/faculty-and-staff/faculty-staff.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.newsWebV3 != nil -%}<div class="max-width__tier-1 "><h2 class="">News</h2>{% include features/feeds-and-pulls/news-and-events/news/newsWebV3.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.eventsWebV3 != nil -%}<div class="max-width__tier-1 "><h2 class="">Events</h2>{% include features/feeds-and-pulls/news-and-events/events/eventsWebV3.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.facultyProfile != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/faculty-and-staff/faculty-profile.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.programs != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/programs/programs.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.research != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/research/research.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.researchArticle != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/research/articleDisplay.html %}</div>{%- endif %}
    {%comment%} Yet to be tested {%endcomment%}



        {% comment %}{%- if buildPageFeatureData.newsWebV3 != nil -%}<div class="max-width__tier-1 "><h2 class="">News</h2>{% include features/feeds-and-pulls/news-and-events/news/newsWebV3.html %}</div>{%- endif %}{% endcomment %}
        {% comment %}{%- if buildPageFeatureData.eventsWebV3 != nil -%}<div class="max-width__tier-1 "><h2 class="">Events</h2>{% include features/feeds-and-pulls/news-and-events/events/eventsWebV3.html %}</div>{%- endif %}{% endcomment %}

    {%comment%} Yet to be added {%endcomment%}

        {%- if buildPageFeatureData.programs != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/programs/programs.html %}</div>{%- endif %}
        {%- if buildPageFeatureData.search != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/search/search.html %}</div>{%- endif %}



    {%comment%} Yet to be added {%endcomment%}
        {%- if buildPageFeatureData.collaboration != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/collaboration/collaboration.html %}</div>{%- endif %}

        {%- if buildPageFeatureData.facultyProfile != nil -%}<div class="max-width__tier-1 ">{% include features/feeds-and-pulls/faculty-and-staff/faculty-profile.html %}</div>{%- endif %}

        {%- if buildPageFeatureData.twitterFeed != nil -%}<div class="background__square-tiles"><div class="max-width__tier-1 ">{% include features/feeds-and-pulls/twitter-feed/twitterfeed.html %}</div></div>{%- endif %}

    {% comment %}
        CONTENT BLOCKS
            atoz
            hen
            pagetabs
            three col
    {% endcomment %}
{%- endif %}
{%- endfor -%}




